body{
    font-family:Arial;
    background:#111;
    color:white;
    text-align:center;
    margin-top:40px;
}

.container{
    margin-top:80px;
}

input,
select,
button{
    padding:12px;
    margin:10px;
    border-radius:8px;
}

button{
    background:#E91E63;
    color:white;
    border:none;
    cursor:pointer;
    font-size:18px;
}

button:hover{
    opacity:0.9;
}

progress{
    width:90%;
    max-width:500px;
    height:30px;
}

#status{
    font-size:20px;
    margin-top:20px;
}

#percent{
    font-size:22px;
    font-weight:bold;
    color:#00FF99;
    margin-top:10px;
}

a{
    color:#00FF99;
    font-size:20px;
    text-decoration:none;
}


.progress-container{

    width:90%;
    max-width:500px;
    height:28px;
    background:#333;
    border-radius:30px;
    margin:20px auto;
    overflow:hidden;

}

.progress-bar{

    width:0%;
    height:100%;
    background:linear-gradient(
        90deg,
        #E91E63,
        #FF9800
    );
    transition:width .8s;
    border-radius:30px;

}
