GROQ_API_KEY=YOUR_GROQ_API_KEY

DEFAULT_LANGUAGE=Hindi

DEFAULT_VOICE=en-US-AndrewNeural

MAX_UPLOAD_SIZE=500

TEMP_FOLDER=storage/temp

UPLOAD_FOLDER=storage/uploads

OUTPUT_FOLDER=storage/outputs

AUDIO_FOLDER=storage/audio

SUBTITLE_FOLDER=storage/subtitles
